h1 {
    text-align: center;
    color: cornflowerblue;
}
img{
    height: 250px;
    width: 200px;
    position: relative;
    left: 280px;
    bottom: 25px;
}
/* .form-group{
    background-color: rgb(243, 234, 234);
    font-size: larger;
    color: black;
    height: 60px;
    text-align:justify;
} */
  