h1 {
    text-align: center;
    color: cornflowerblue;
}
img{
    height: 250px;
    width: 200px;
    position: relative;
    left: 280px;
    bottom: 25px;
}
/* .form-group{
    background-color: rgb(243, 234, 234);
    font-size: larger;
    color: black;
    height: 60px;
    text-align:justify;
} */
body {
    background-color: lightblue;
    text-align: center;
}
  
main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}
  
/* Nav bar */

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}
